.flex {
  display: flex;
  justify-content: space-between;
}

.links {
  color: white;
}

.links:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}

.header {
	height: 100vh;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	width: 100%;
	text-align: center;
	padding: 200px 0;
	color: white;
	position: relative;
}

.header__head {
	font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
  letter-spacing: 5px;
  width: 100%;
  margin: 0 auto;
}

.header__subtitle {
	margin-top: 40px;
  margin-bottom: 100px;
	opacity: 0.7;
}

.header__button {
	background: #ff6600;
	padding: 15px 30px;
	color: white;
	text-transform: uppercase;
	border: none;
	border-radius: 9em;
}

.search__header {
	display: flex;
	justify-content: space-between;
	padding: 0 120px;
}

.header__search {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.3);
	text-align: left;
	min-height: 110px;
	padding: 20px 0;
}

.input__desc {
	font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
}

.header__input {
	background: none;
	border: none;
	font-size: inherit;
	border-bottom: 1px solid rgba(255,255,255,0.6);
	padding: 8px 0;
	color: rgba(255,255,255,0.9);
}

.header__input::placeholder {
	color: rgba(255,255,255,0.6);
}

.blacksel {
	color: rgba(0,0,0,0.7);
}

.grid__button {
	background: #ff6600;
	padding: 10px 25px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
  font-size: 12px;
	border-radius: 9em;
	margin-top: 10px;
  transition: .5s;
  height: 44px;
  border: 2px solid #ff6600;
}
