.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.links {
  color: white;
}

.links:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}
